[Unit]
Description=RooNAA6 NAA metadata proxy
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/RooNAA6 /etc/roonaa6/config.toml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
